<section class="d-flex p-3">
  <div class="logo cursor-pointer d-flex align-items-center">MiniWeather</div>
  <div class="d-flex pl-5 w-100">
    <div class="flex-grow-1">
      <button mat-button [disabled]="!(authorized$ | async)"
        aria-title="Settings"
        title="Settings"
        routerLink="/settings"
        routerLinkActive="active">
        <i class="fas fa-lg fa-cog" aria-hidden="true"></i>
        <span class="pl-1">Settings</span>
      </button>
      <button mat-button *ngIf="!(authorized$ | async)" [disabled]="processingAuth"
        (click)="login()"
        aria-title="Login"
        title="Login">
        <i class="fas fa-lg fa-sign-in-alt" aria-hidden="true"></i>
        <span class="pl-1">Login</span>
      </button>
    </div>
    <button mat-button *ngIf="authorized$ | async" [disabled]="processingAuth"
      (click)="logout()"
      aria-title="Log out" title="Log out">
      <i class="fas fa-lg fa-sign-out-alt" aria-hidden="true"></i>
      <span class="pl-1">Log out</span>
    </button>
  </div>
</section>
<section class="top pt-5 text-center">
  <H1>Welcome to this mini project!</H1>
  <div>Upon successfully login, you can update weather API URL, API Host, API key on Settings <br>and input city, country to get weather on Home page.</div>
</section>
<section class="body">
  <div class="d-flex pt-5">
    <div class="flex-grow-1"></div>
    <div class="flex-grow-2 search-container">
      <ng-container *ngIf="(settings$ | async) && (authorized$ | async); else notAvailableTpl">
        <form class="search-container" [formGroup]="searchForm">
          <mat-form-field class="search-field">
            <mat-label>Country</mat-label>
            <input matInput
              formControlName="country"
              placeholder="uk"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="country.hasError('required')">
              Country is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="search-field">
            <mat-label>City</mat-label>
            <input matInput
              formControlName="city"
              placeholder="london"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="city.hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
        <div class="w-100 text-center">
          <button mat-button
            [disabled]="searchForm.invalid || processingSearch"
            aria-title="Save"
            title="Save"
            (click)="onSearch()">
            <i class="fas fa-lg fa-search" aria-hidden="true"></i>
            <span class="pl-1">Search</span>
          </button>
        </div>
      </ng-container>
      <div class="pt-2" *ngIf="weather && (settings$ | async) && (authorized$ | async)">
        <span class="text-info">Weather result:</span>
        <div class="result-container">{{weather | json}}</div>
      </div>
      <ng-container *ngIf="processingSearch">
        <div class="d-flex justify-content-center">
          <mat-spinner [diameter]="30"></mat-spinner>
        </div>
      </ng-container>
    </div>
    <div class="flex-grow-1"></div>
  </div>
</section>

<ng-template #notAvailableTpl>
  <div class="text-warning text-center">
    You need to login and set API information.
  </div>
</ng-template>
